<div class="page-content">
  <div class="orders">
    <div class="filters">
      <a *ngFor="let filter of filters" class="filters__item" [ngClass]="{'filters__item--active': filter === selectedFilter}" (click)="filterOrders(filter)"> {{ filter }}</a>
    </div>
    <div *ngIf="loading" class="loading-box">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div *ngIf="!loading && selectedOrders.length > 0">
      <div *ngFor="let order of selectedOrders">
        <div [ngClass]="'card-item ' + 'card-item--' + order.status.replace(' ', '-')">
          <p class="card-item__email">{{order.email}}</p>
          <p>{{order.date}}</p>
          <div class="card-item__order">
            <div *ngFor="let el of order.order">
              {{el.quantity}} x {{el.name}}
            </div>
          </div>
        <button class="card-item__btn" *ngIf="selectedFilter !== 'completed'">mark as {{ selectedFilter === 'received' ? 'in progress' : 'completed'}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && selectedOrders.length === 0" class="no-items">There are no orders </div>
  </div>
</div>


